<div class="xx-m-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 xx-u-contact">
				<h6>联系方式</h6>
				<p>浙江·杭州</p>
				<a href="mailto:lws200841001@163.com" target="_blank">lws200841001@163.com</a>
				<p id="J_weixin">
					<em>微信公众号
						<img src="/img/wechat.jpg" alt="公众号二维码">
					</em>
				</p>
			</div>
			<div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 xx-u-work">
				<h6>我的作品</h6>
				<b><a href="/">首页</a></b>
				<b><a href="/blog">博客</a></b>
				<b><a href="/gallery">摄影</a></b>
				<b><a href="https://github.com/linwens">github</a></b>
			</div>
			<div class="xx-copyright">Copyright© linwens 2017-2019
				<!-- <div class="xx-u-static">
					<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
					<i class="iconfont">&#xe634;</i><span id="busuanzi_value_site_pv"></span>次 | 
					<i class="iconfont">&#xe623;</i><span id="busuanzi_value_site_uv"></span>人
				</div> -->
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		var flag = true;
		$('#J_weixin>em').click(function(){
			if(flag){
				$(this).css({'overflow': 'initial'});
				$(this).find('img').css({'right': '5.4em','opacity': 1});
			}else{
				$(this).css({'overflow': 'hidden'});
				$(this).find('img').css({'right': '5.1em','opacity': 0});
			}
			flag = !flag;
		});
	})
</script>