<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>我的个人博客</title>
	<link rel='stylesheet' href='/plugins/bootstraps/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/plugins/bootstraps/css/bootstrap-theme.min.css'/>
	<link rel='stylesheet' href='/css/diy-bs.css'/>
	<link rel='stylesheet' href='/plugins/iconfont/iconfont.css'/>
	<script src="/plugins/iconfont/iconfont.js"></script>
	<script src="/plugins/jquery.js"></script>
	<script src="/plugins/bootstraps/js/bootstrap.min.js"></script>
	<script src="/plugins/underscore-min.js"></script>
	<script src='/js/util.js'></script>
</head>
<body>
	<div class="xx-page-index">
		<div class="jumbotron xx-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h1>欢迎</h1>
						<p>我的主页</p>
					</div>
				</div>
			</div>
	  	</div>
	  	<div class="container-fluid xx-blog-container">
  			<h1>我的博客</br><small>记录自己的进步</small></h1>
  			<div>
  				<ul class="xx-blog-list row" id="J_blog"></ul>
  			</div>
  			<a href="/blog">更多文章</a>
  		</div>
	  	<div class="container-fluid xx-img-container">
  			<h1>我的记录</br><small>没事儿按按快门</small></h1>
  			<ul class="xx-img-list row">
  				<li class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="background-image: url(/images/gallery/japan_s.jpg);">
  					<div class="xx-u-panel"><a href="javascript:;">摄影主题</a></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="background-image: url(/images/gallery/hangzhou_s.jpg);">
  					<div class="xx-u-panel"><a href="javascript:;">摄影主题</a></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="background-image: url(/images/gallery/zhoushan_s.jpg);">
  					<div class="xx-u-panel"><a href="javascript:;">摄影主题</a></div>
  				</li>
  			</ul>
  		</div>
	  	<% include ./footer%>
	</div>
	<script type="text/template" id="tpl_blog">
	 	<#for(var i = 0;i<data.length;i++){#>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="/blog/detail?t=<#=data[i].time#>"><#= data[i].title #></a>
				<p><#= data[i].brief #>...</p>
				<div>
					<a href="/blog/detail?t=<#=data[i].time#>">[阅读全文]</a>
					<span><#= Utils.timeFormat(data[i].time)#></span>
				</div>
				<#if(i<data.length-1){#><b class="hidden-sm"></b><#}#>
			</li>

	 	<#}#>
	</script>
	<script>
	 	$(function(){
	 		//getList(1,3);
 		 	//假数据
 		 	var data = {
 			    "res_code":1,
 			    "dataList":[
 			        {
 			            "time":"1514531660",
 			            "aid":"e3854c80-ec67-11e7-9bd6-d3d3259ae9e8",
 			            "brief":"主要涉及《js高程》中的创建对象及继承。",
 			            "title":"js基础复习5--对象创建与继承",
 			            "tags":[
 			                "JavaScript",
 			                "创建对象",
 			                "继承"
 			            ],
 			            "operate":"publish"
 			        },
 			        {
 			            "time":"1514442078",
 			            "aid":"50b074a0-eb97-11e7-9bd6-d3d3259ae9e8",
 			            "brief":"涉及js原生发法call()、apply()、bind()、new运算符等工作原理。",
 			            "title":"js基础复习4--new运算符等",
 			            "tags":[
 			                "new",
 			                "call()",
 			                "apply()",
 			                "bind()"
 			            ],
 			            "operate":"publish"
 			        },
 			        {
 			            "time":"1514357402",
 			            "aid":"2a0a0160-ead2-11e7-9bd6-d3d3259ae9e8",
 			            "brief":"arguments对象是个类数组对象，用于存储函数在被调用时函数内部的实参；函数传值方式包括：按值传递、按引用传递。",
 			            "title":"js基础复习3--传参与arguments",
 			            "tags":[
 			                "arguments"
 			            ],
 			            "operate":"publish"
 			        }
 			    ],
 			    "page":1,
 			    "page_size":3,
 			    "total":19
 			}
 			//数据渲染
	 		var html = $('#tpl_blog').html();
			_.templateSettings = {	//避免前端模板被ejs语法解析
				evaluate    : /<#([\s\S]+?)#>/g,
			    interpolate : /<#=([\s\S]+?)#>/g,
			    escape      : /<#-([\s\S]+?)#>/g
			};
			var template = _.template(html);
			var tpl = template({data:data.dataList});
			$('#J_blog').html(tpl);
	 	});
	 	
	 	//请求文章数据
	 	function getList(cur, ps, sch){
	 		$.ajax({
	 			url:'/ajax/getList',
	 			type:'GET',
	 			dataType:'JSON',
	 			data:{curPage: cur,pageSize: ps,schWord:sch,from:'front'},
	 			success:function(rslt){
	 				if(rslt.res_code==2){
	 					$('#J_blog').html(rslt.res_msg);
	 				}else{
	 					var html = $('#tpl_blog').html();
	 					_.templateSettings = {	//避免前端模板被ejs语法解析
	 						evaluate    : /<#([\s\S]+?)#>/g,
	 					    interpolate : /<#=([\s\S]+?)#>/g,
	 					    escape      : /<#-([\s\S]+?)#>/g
	 					};
	 					var template = _.template(html);
	 					var tpl = template({data:rslt.dataList});
	 					$('#J_blog').html(tpl);
	 				}
	 			},
	 			error:function(rslt){}
	 		})
	 	};
	</script>
</body>
</html>